{{define "content"}}
<h1>Beyond functional autograding (Final year project)</h1>
<p>
  This project seeks to explore the potential for grading assignments and providing insights based on code performance.
  To test the effectiveness of the system, there is a temporary Submitty installation which will allow for submission of
  prior Introduction to Computing II assignments. The system will provide a performance grade as well as some graphs and
  data. Feel free to experiment with your code (the grading curves may be far off, even for an efficient program!).
</p>
<p>For more details, see the <a href="https://p.nul.ie/fyp_info.pdf">Information sheet</a>.</p>

<img src="https://p.nul.ie/fyp_boards.jpg" />
<p>Your code will be evaluated a number of times in both a simulator and real hardware (pictured above!)</p>

<h2>Submitty anonymous registration</h2>
<p>Click the button below to generate anonymous credentials for Submitty.</p>
<form method="post">
  <button type="submit">Register now</button>
</form>

<p>
  <em>If you'd like to see how this project was built, you can <a href="https://github.com/devplayer0/fyp">check out the code on GitHub</a>!</em>
</p>
{{end}}
