{{define "content"}}
<h1>Submitty credentials</h1>
<p>Here are your credentials:</p>
<table>
  <tr>
    <td>Username</td>
    <td><code>{{.Username}}</code></td>
  </tr>
  <tr>
    <td>Password</td>
    <td><code>{{.Password}}</code></td>
  </tr>
</table>

<p>
  <strong>Click <a href="/">here</a> to access Submitty.</strong>
</p>

<p>
  <em>
    If you've tried the system out, it would be appreciated if you could
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdciOL3iAlsBCwsYPz5qY0MP4zS1gZLqNCwxVEv4J4BnYTSeA/viewform?usp=sf_link">fill out an anonymous survey</a>
    based on your experience.
  </em>
</p>
{{end}}
